.title-form {
    color: yellow;
}

.form {
    background-color: #141b29;
    display: flex;
    flex-direction: column;
    border: 1px solid yellow;
    border-radius: 2em;
    height: 75vh;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
}

.input-container {
    display: flex;
    justify-content:space-evenly;
}

.input-form {
    background-color: #141b29;
    border: 0.1em solid yellow;
    border-radius: 1em;
    color: white;
    padding: 0.5em;
}

.input-form:focus {
    border: 0.1em solid yellow;
    outline: none;
}

.error {
    color: red;
}

.select-container {
    display: flex;
    justify-content: space-evenly;
}

.container-PyG {
    border: 0.1em solid yellow;
    width: 34%;
    border-radius: 1em;
    padding: 1em 1em;
}

.select-PyG {
    background-color: #141b29;
    color: yellow;
    border: 0.1em solid yellow;
    border-radius: 0.5em;
}

select:focus {
    border: 0.1em solid yellow;
    outline: none;
}

.select-etiqueta {
    display: flex;
    color: black;
    background-color: yellow;
    border-radius: 0.7em;
    border: 0.2em solid black;
    margin: 0 auto 2vh auto; 
}

.container-etiqueta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5%;

}

.title-etiqueta {
    height: 2vh;
    padding-bottom: 0.5em;
    margin: 0.2em;
    font-weight: 600;
}

.delete-etiqueta {
    background-color: transparent;
    border: none;
    color: #E63462;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
}

.delete-etiqueta:hover {
    color: rgb(190, 2, 2);
}

textarea {
    width: 80%;
    height: 20%;
    margin: 0 auto;
    resize: none;
    border-radius: 5px;
    background-color: #141b29;
    border: 0.1em solid yellow;
    border-radius: 1em;
    color: white;
    padding: 1em;
}

.textarea:focus {
    border: 0.1em solid yellow;
    outline: none;
}

.boton-crear {
    width: 10%;
    margin: 0 auto;
    cursor: pointer;
    height: 7%;
    border-radius: 2em;
    border: 0.2em solid black;
    background-color: yellow;
}

.boton-disabled {
    width: 10%;
    margin: 0 auto;
    cursor: not-allowed;
    height: 7%;
    border-radius: 2em;
    border: 0.2em solid black;
    background-color: rgb(163, 163, 0);
}