.back-boton {
    padding: 0.8em;
    margin-top: 1.5em;
    background-color: #141b29;
    color: yellow;
    border: 0.1em solid yellow; 
    border-radius: 1em;
}

.back-boton:hover{
    cursor: pointer;
    background-color: yellow;
    color: black;
}

.card-game {
    position: relative;
    display: flex;
    width: 75vw;
    margin: 2em auto;
    font-family: 'Dongle', sans-serif;
    font-size: 1.5em;
}

.card-detail {
    border: 0.13em solid yellow;
    width: 45vw;
    border-radius: 1em;
    margin: 0 auto;
    background-color: #141b29;
    word-wrap: break-word;
    
}

.title-detail {
    color: black;
    background-color: yellow;
    font-size: 1.5em;
    margin: 0;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
}

.img-detail {
    width: 45vw;
    height: 48vh;
    object-fit:cover;
    object-position:center;
}

.container-detail-RyR {
    display: flex;
    justify-content: space-evenly;
    color: black;
}

.detail-RyR {
    background-color: yellow;
    border-radius: 0.7em;
    padding: 0.1em 0.5em;
    margin: 0.5em 0.3em;
}

.description-detail {
    color: white;
    margin: 0 0.5em;
}

.container-detail-PyG {
    display: flex;
    flex-direction: column;
    width: 19vw;
    font-size: 1em;
}

.detail-PyG {
    color: yellow;
    width: 20vw;
    border: 0.13em solid;
    border-radius: 1em;
    margin-bottom: 1.5em;
    background-color: #141b29;
}
