*{
    list-style: none;
    text-decoration: none;
}

.card {
    position: relative;
    width: 23.03vw;
    display: flex;
    flex-direction: column;
    margin: 1em;
    border-radius: 1.95em;
    border: 3px solid yellow;
    align-items: center;
    background-color: #141b29;
}

.container-card {
    overflow:hidden;
    width: 23.03vw;
    height: 23vh;
    cursor: pointer;
    border-radius: 1.7em;
}

.container-card:hover > .img-card {
    filter: blur(5px);
}

.container-card:hover .link-detail {
    opacity: 1;
    visibility: visible;
}

.img-card {
    object-fit: cover;
    object-position: center;
    width: 23vw;
    height: 23vh;
    transition: all 500ms ease;
}

.img-card:hover {
    border-radius: 1.25em;
}

.rating-card {
    font-size: 0.75em;
    position: absolute;
    margin: auto;
    padding: 0.3em 0.5em;
    top: 1.5vh;
    left: 18vw;
    background-color: #141b29;
    color: yellow;
    border: 0.2em solid yellow;
    border-radius: 2em;
}

.link-detail {
    position: absolute;
    top: 10vh;
    left: 6vw;
    display: flex;
    justify-content: center;
    background-color: yellow;
    color: black;
    border: 0.05em solid black;
    border-radius: 1em;
    font-family: 'Dongle', sans-serif;
    width: 50%;
    margin: auto;
    opacity: 0;
    visibility: hidden;
}

.link-detail:hover {
    background-color: #141b29;
    border: 0.1em solid yellow;
    color: yellow;
}

.title-card {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: 'Dongle', sans-serif;
    color: yellow;
    overflow-wrap:unset
}

.genres-card{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: 'Dongle', sans-serif
}

.genre-card {
    background-color: yellow;
    border-radius: 0.5em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    border: 0.1em solid black;
}



