.titulocargando{
    margin-top: -5em;
    margin-left: 9em;
    font-family: 'Dongle', sans-serif;
    color: yellow;
    font-size: 2em;
}

.img-loading {
    margin-top: 4em;
    width: 30vw;
}